/* quotanet.at main style sheet by EINSTERN February 2012 */

@import "global-sass.css";

/* This file will hold the main styles for your website. */

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 1.125em;
	color: #262626;
	background: #110e00 url('../images/body_bg.jpg');
	background-repeat: repeat-x;
	background-position: center top;
}


#zone-branding #region-branding{
	padding: 0;
	margin: 0;

}

#zone-header {
	background: #fff url('../images/breadcrumb.png') no-repeat left top;
	height: 45px;
	width: 960px;
	padding: 0;

}
/*
.site-name-slogan h1.site-name,
.site-name-slogan h2.site-name {
	font-size: 0px;
	text-indent: -50000px;
	height: 0;
}

.site-name-slogan {
	height: 0;
	
	}
*/

#section-content {
	margin-top: -1px;
}

h1#page-title, h2 {
	color: #b1b3b4;
	font-size: 1.5em;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;
}

#zone-content {
	background: #fff url('../images/context_bg.png');
	background-repeat: repeat-y;
	background-position: left top;

}

#zone-content .region-content
{
	padding-top: 15px;
}

p, .field-name-body ul li
	{
		font-size: 0.75em;
	}
	
/* @group login landing page */

.tabs
	{
		width: 908px;
	}
	
.grid-9 .tabs

	{
		width: 668px;
	}
	
.profile h3
	{
		width: 929px;
		padding-bottom: 5px;
	}
	
body.logged-in ul.primary
{
	width: 400px;
}
	
div.status, .ok
	{
		width: 858px!important;
	}

div.status
	{
		border-color: #c8a900;
	}

div.messages
	{
		margin: 6px 10px;
	}
div.status, table tr.ok

	{
		background-color: #d4b92c;
	}

/* @end login landing page */
	
	/* @group Header Region with Breadcrumb and Search Button */
	
	#block-delta-blocks-breadcrumb .content 
	{
		padding: 14px 0 0 13px;
	}
	
	.breadcrumb {
		padding: 0;
		margin: 0;
		font-size: 0.75em;
	}
	
	#region-header-first
	{
		width: 515px;
	}
	
	body.logged-in.admin-nw #region-header-first
	{
		width: 400px;
	}
	
	#region-header-third
	{
		margin-right: 0px;
	
	}
	
	#region-header-fourth {
		width: 245px;
		text-align: right;
	}
	
	#region-header-fifth
	{
		width: 20px;
		text-align: left;
	}
	
/*	#block-search-form .block-inner .content {
		padding: 10px 0 0 40px;
	}*/
	
	#block-node-syndicate {
		float: right;
	}
	
	#block-node-syndicate .block-inner .content {
		padding: 10px 0 0 0;
	}
	
	a#text_resize_decrease,
	a#text_resize_increase
	{
		background: none;
		text-indent: 0;
		margin-top: 12px;
		color: #343434;
		text-decoration: none;
	}	
	
	.search-form
	{
		margin: 3px 0 0 0;
	}
	/* @end */
	
	/* @group MAIN MENU FROM BARTIK THEME */



	/* --------------- Main Menu ------------ */
	/* --------------- Mitgliederbereich Menü --------------- */


	/* Gehirn / Brain */
	

	#block-system-main-menu ul,
	#block-system-main-menu ol {
	}



	#block-system-main-menu a,
	#block-menu-menu-mitgliederbereich a
	 {
		color: #d9d9d9;
		padding: 0.6em 1em 0.4em;
	}
	#block-system-main-menu,
	#block-menu-menu-mitgliederbereich
	{
		font-size: 0.75em;
		margin: 5px 0 0 0;
		padding: 0 15px;
	}
	#block-system-main-menu li,
	#block-menu-menu-mitgliederbereich li
	 {
		/*float: left;*/ /* LTR */
		list-style: none;
		
	}
	
	#block-system-main-menu .block-inner .content ul.menu li a,
	#block-menu-menu-mitgliederbereich .block-inner .content ul.menu li a

	 {
		display: block;
		color: #333;
		padding: 0 0.8em;
		text-decoration: none;
		
		/*background: #ccc;
		background: rgba(255, 255, 255, 0.7);*/
		/*float: left;*/ /* LTR */
		/*height: 2.4em;
		line-height: 2.4em;*/
		/*text-shadow: 0 1px #eee;
		-khtml-border-radius-topleft: 8px;
		-khtml-border-radius-topright: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;*/
		text-transform: uppercase;
	}
	
/*	#block-system-main-menu .block-inner .content ul.menu li a:hover,
	#block-system-main-menu .block-inner .content ul.menu li a:focus 
	{
		background: #f6f6f2;
		background: rgba(255, 255, 255, 0.95);
	}
	#block-system-main-menu .block-inner .content ul.menu li a:active {
		background: #b3b3b3;
		background: rgba(255, 255, 255, 1);
	}
	
	#block-system-main-menu .block-inner .content ul.menu li.active-trail a {
			padding-left: 20px;
			background-image: url('../images/linkbutton.jpg');
			background-repeat: no-repeat;
			background-position: 0 50%;
	
		}*/
	
	#block-system-main-menu .block-inner .content ul.menu li.leaf,
	#block-system-main-menu .block-inner .content ul.menu li.collapsed,
	#block-menu-menu-mitgliederbereich .block-inner .content ul.menu li.leaf,
	#block-menu-menu-mitgliederbereich .block-inner .content ul.menu li.collapsed

	 {
		padding: 5px;
	}
	
	#block-system-main-menu .block-inner .content ul.menu li ul li, /* Untermenüs, Submenüs */
	#block-menu-menu-mitgliederbereich .block-inner .content ul.menu li ul li 
	{
		padding-left: 20px;
	}
	
	#block-system-main-menu .block-inner .content ul.menu li.active-trail a.active-trail,
	#block-menu-menu-mitgliederbereich .block-inner .content ul.menu li.active-trail a.active-trail
	 {
		padding-left: 15px;
		background-image: url('../images/linkbutton.jpg');
		background-repeat: no-repeat;
		background-position: 0 50%;
		color: #000;
		font-weight: bold;

	}
	
	#block-system-main-menu .block-inner .content ul.menu li.active-trail ul li.active-trail a.active-trail,
	#block-menu-menu-mitgliederbereich .content ul.menu li.active-trail ul li.active-trail a.active-trail
	 {
			padding-left: 15px;
			background-image: url('../images/linkbutton.jpg');
			background-repeat: no-repeat;
			background-position: 0 50%;
			color: #000;
			font-weight: bold;
	
		}
	
	#block-system-main-menu .block-inner .content ul.menu li.active-trail ul li a,
	#block-menu-menu-mitgliederbereich .content ul.menu li.active-trail ul li a 
	{
		padding-left: 15px;
		text-transform: none !important;
	}

	
	.featured #block-system-main-menu-links li a:active,
	.featured #block-system-main-menu-links li a.active {
		background: #f0f0f0;
		background: rgba(240, 240, 240, 1.0);
	}


	/* @end */
	
	/* @group Sidbar Right - Q Netzwerk und Tagcloud */
	
	#region-sidebar-second {
		background-image: url('../images/netzwerk-box.jpg');
		background-position: 0 0;
		background-repeat: no-repeat;	
		min-height: 495px;
		padding-left: 0;
		margin-left: 0;
		
	}
	
	#region-sidebar-second #block-block-1 {
		margin-top: 60px;
	}
	
	#region-sidebar-second #block-block-1 .block-inner .content {
		margin-left: 40px;
	}
	
	#region-sidebar-second #block-block-1 .block-inner .content div div.einloggen,
	#region-sidebar-second #block-block-1 .block-inner .content div div.strict {
		float: left;
	}
	
	#region-sidebar-second #block-block-1 .block-inner .content div div a {
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 12px !important;
		font-stretch: -0.2em;
	}
	
	#region-sidebar-second #block-block-1 .block-inner .content div div.einloggen a {
		padding-right: 5px;
	}
	
	#region-sidebar-second #block-block-1 .block-inner .content div div.registrieren a {
		padding-left: 5px;
		

	}
	
	#region-sidebar-second #block-tagadelic-1 {
		margin: 20px 5px 0 5px;
		padding: 10px;
		background-color: white;
	}
	
	body.logged-in	#region-sidebar-second #block-tagadelic-1 {
/*		margin-top: 100px;*/
/*	margin-top: 60px;*/
	}
	
	#region-sidebar-second #block-tagadelic-1 a {
		color: black;
		text-decoration: none;
	}
	
	/* @group logged-in user Menu */

	.block-user-menu
	{
		margin-top: 60px;
		margin-left: 28px;
	}
	
	.block-user-menu h2
	{
		display: none;
	}
	
	.block-user-menu div ul li
	{
		display: inline;
		list-style: none;
	}
	
	.block-user-menu div ul li.leaf
	{
		padding-right: 0 !important;
	}
	
	.block-user-menu div ul li.last
	{
		padding-left: 0;
		margin-left: 0;
		padding-right: 0 !important;
	}
	
	.block-user-menu div ul li.first:after
	{
		content: " |";
	}

	.block-user-menu div ul li a
	{
		font-size: 0.75em;
		text-decoration: none;
		color: #262626;
		text-transform: uppercase;
	}
	
	/* @end logged-in user Menu */
	
	/* @end */
	
	/* @group Postscript Zone - Aktuelles im Footer */
	
	#zone-postscript-wrapper #zone-postscript {
		background-image: url('../images/postscript.png');
		background-position: 0 0;
		background-repeat: repeat-y;
		
	}
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-first #block-menu-menu-mitgliederbereich-block-1 {
		padding: 10px 0 0 15px;
	}
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-first  ul.menu li {
		list-style: none;
	}
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-first  h2.block-title {
		text-decoration: none;
		color: white;
		font-family: Verdana;
		padding-left: 5px;
		font-size: 0.75em;
		color: #c9a900;
	}
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-first  ul.menu li a {
		text-decoration: none;
		color: white;
		font-size: 0.75em;
	}
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-first  ul.menu li.active-trail a.active {
		color: #d4b700;
	}
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-second .region-inner {
		padding-top: 8px;
	}

	#zone-postscript-wrapper #zone-postscript .region-postscript-second #block-views-news-block-2 div div div div table.cols-3
	{
		border: 0;
	}	
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-second #block-views-news-block-2 div div div div table.cols-3 tbody tr td {
		
		width: 30%;
		color: white;
	}
	
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-second #block-views-news-block-2 div div div div table.cols-3 tbody tr td .views-field a
	{
		color: white;
		text-decoration: none;
		font-weight: bold;
		font-size: 0.75em;
	}
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-second #block-views-news-block-2 div div div div table.cols-3 tbody tr td .views-field p {
		margin-bottom: 5px;
	}
	
	#zone-postscript-wrapper #zone-postscript .region-postscript-second #block-views-news-block-2 div div div div table.cols-3 tbody tr td .views-field-view-node a {
		display: block;
		background-image: url('../images/arrow.png');
		background-repeat: no-repeat;
		background-position: 0 50%;
		text-indent: -50000px;
		font-size: 0px;
		height: 13px;
	
	}
	
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active
{
	background: none;
}
	
	td
	{
		vertical-align: top;
		padding: 0;
	}
	
	/* @end */
	
	/* @group Footer */
	
	#zone-footer-wrapper #zone-footer	
	{
		background-image: url('../images/footer.png');
		background-position: 0 0;
		background-repeat: no-repeat;
		height: 70px;
	}
	
	#zone-footer-wrapper #zone-footer #region-footer-first div div .block-inner .content
	{
		padding-top: 37px;
	}
	
	#zone-footer-wrapper #zone-footer #region-footer-first div div .block-inner .content ul li {
		display: inline;
		list-style: none;
	}
	
	#zone-footer-wrapper #zone-footer #region-footer-first div div .block-inner .content ul li a {
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		font-size: 0.75em;
	}
	
	/* @end */
	
	
	/* @group Kontaktformular */
	
	form.webform-client-form fieldset div div label
	{
		font-weight: normal;
		font-size: 0.75em;
	}
	
	span.form-required
	{
		color: #c9a900;
	}
	
	/* @end Kontaktformular */
	
	/* @group Termine / News Content Type */
	
	
	.views-row .node-news,
	.views-row .node-team,
	body.page-taxonomy-term article.node,
	.view-jobangebote .views-row,
	.view-ob-news .views-row,
	.node-mb-forum-mitgliederbereich /* MB: Forum */
	{
		margin-bottom: 20px;
		padding-bottom: 20px;
		background: url('../images/bg_news.jpg') no-repeat left bottom;
	}

	
	.node-news h2, /*termine */
	body.page-taxonomy-term article.node h2 a, /* Überschrift taxonomy term page ==> tags */
	.node-mb-jobangebote-mitgliederbereich h2 a, /* Überschrift Jobangebote View */
	.node-article h2, /*news*/
	.node-mb-forum-mitgliederbereich h2 a/* MB: Forum */
	{
		color: #c9a900;
		margin-bottom: 0;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	body.page-taxonomy-term article.node h2,
	.node-news h2,
	.node-article h2,
	.node-mb-jobangebote-mitgliederbereich h2, /* Überschrift Jobangebote View */
	.node-mb-forum-mitgliederbereich h2
	
	{
		font-size: 1.125em;
	}
	
	body.page-taxonomy-term article.node p
	{
		margin-bottom: 0px;
	}
	
	.field-name-field-termine-datum span.date-display-single,
	.field-name-field-subtitle div div,
	.field-name-field-termine-subtitle div div,
	.field-name-field-tags div
	{
		font-size: .9em;
		color: #262626;
		font-weight: bold;
	}
	
	.field-name-field-tags div.field-items div.field-item a
	{
		color: #c9a900;
	}

	.field-name-field-termine-subtitle div div,
	.field-name-field-subtitle div div
	{
		margin-bottom: 15px;
	}
	
	.view-news .field-name-body p,
	.view-jobangebote .field-name-body p,
	.view-ob-news .field-name-bodyp
	{
		margin-bottom: 0px;
	}
	
	.field-name-node-link a:link,
	.field-name-node-link a:visited,
	.field-name-node-link a:hover,
	.field-name-node-link a:active
	{
		color: #a2a4a5;
		font-size: 0.75em;
		text-decoration: none;
		display: block;
		background: url('../images/arrow_grey_right.png') no-repeat 67px center;
		text-transform: lowercase;
		cursor: pointer;
		text-shadow: none;
	}
	
	/* Taxonomy Term page, Button weiterlesen */
	
	
	
	.node-links ul li a:link,
	.node-links ul li a:visited
	{
		background: url('../images/arrow_grey_right.png') no-repeat 69px center;
		border: none;
		padding-left: 0px;
		padding-right: 10px;
		float: none;
		text-shadow: none;
		color: #a2a4a5;
		font-weight: normal;
		font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	}
	
	.node-links ul li a:hover
	{
		background: url('../images/arrow_grey_right.png') no-repeat 69px center !important;
			}
	
	.node-news.ds-2col-stacked-fluid,
	.node-article.ds-2col-stacked-fluid,
	body.node-type-mb-jobangebote-mitgliederbereich .block-system-main
	{
		margin-bottom: 30px;
		padding-bottom: 15px;
		background: url('../images/bg_news.jpg') no-repeat left bottom;
	}
	
	.field-name-field-files div div span a,
	body.node-type-mb-jobangebote-mitgliederbereich .block-system-main .field-name-field-doument-laden-jobangebot a
	{
		color: #c9a900;
		font-size: 0.75em;
	}