/* SASS quotanet.at main style sheet by EINSTERN February 2012 - globals.css will be imported into global-sass.sass */
/* File created by the magnificent criscom on 01/04/2013 */

@import global.css

$grey: #b1b3b4
$yellow: #c9a900
$lightyellow: #ebdf9d

.block-masquerade
	margin-top: 15px
	background-color: #444
	margin: 15px 0px 0px -6px
	width: 942px
	padding: 5px

	h2
		margin-bottom: 5px

.user-profile.view-mode-full h3
	margin-top: 15px
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif

body.page-user div.tabs ul.tabs.secondary // User Submenu ==> Benutzerkonto / Private 
	width: 383px

body.page-user fieldset#edit-locale // Sprachauswahl im Benutzerkonto ausblenden
	display: none

// Suche

#search-block-form
	margin-top: 6px

input#edit-search-block-form--2 // Suche Eingabefeld
	border: 1px solid #444
	border-right: none
	height: 31px
	margin-right: 0px
	padding-right: 0px

input.custom-search-button
	border: 1px solid #444
	border-left: none
	margin-left: -5px
	padding-left: 0px

// Team

.node-team .field-name-title div div h2
	font-size: 1.125em
	color: #c9a900
	line-height: 1.25em

.view-team .ds-2col > .group-left
	width: 49%
	margin-right: 1%

.field-name-field-vereinsfunktion
	font-size: .75em
	font-weight: bold

// LOGIN form ==> /mitglieder 29.05.2013

ul.primary li a
	background-color: $yellow
	&:link, &:visited
		color: white
	&:hover
		color: $grey
		background-color: $lightyellow

	&.active
		color: black

#user-login div div,
#edit-account div 
	label
		font-size: 0.9em // 14px
		margin-bottom: 5px 
	.description
		font-size: 0.8em // 13px

.user-profile h3
	font-size: 1.1em

#block-block-2
	margin-top: 5px // Space between Anmeldebereich: Noch keine Zugangsdaten? und Anmelden-Button
	border-top: 1px solid #ccc

	.block-inner
		margin-top: 10px 

		h2
			margin-bottom: 5px

// Benutzeransicht /user


// Mitgliederprofile

.mitgliederprofil-links
	
	margin-top: 5px
	

.view-benutzerprofile 
	.view-header
		margin-bottom: 20px

	table tbody tr td
		padding: 10px

		.views-field-pid
			font-size: .75em

		.views-field-rendered-entity
			padding: 10px 0

			.views-label
				font-size: 0.9em

#user-profile-form /* Profile 2 Ihr Profil Eingabefelder in der Größe anpassen */
	.form-textarea-wrapper 
		textarea, .grippie
			width: 57%
	
	.container-inline-date .date-padding
		padding: 0


span.fieldset-legend /* Profile 2 Ihr Profil Geburtsdatum fett */
	font-weight: bold

.form-item-profile-ihr-profil-field-upload-foto-und-0 /* Profile 2 Ihr Profil Link neben dem Foto kleiner setzen */
	a, span.file-size
		font-size: 0.6em

#edit-profile-ihr-profil-field-upload-foto-und-0-remove-button /* Profile 2 Ihr Profil Links Entfernen Button unter den Foto Link setzen */
	position: absolute !important
	margin-top: 10px

// Pager

.item-list .pager
	margin-bottom: 20px

ul.pager
	text-align: center
	width: 95%
	margin-left: auto
	margin-right: auto
	border-radius: 0
	-moz-border-radius: 0
	-webkit-border-radius: 0
	height: 20px
	background-color: $yellow
	color: #fff
	border: none

	.pager-first, .pager-last
		display: none

	.pager-next
		background-color: none
		border: none
		left: 440px
		margin-top: 3px

		
		a
			display: block
			height: 13px
			width: 12px
			background-image: url(../images/arrow.png)
			background-repeat: no-repeat	


	.pager-previous
		position: absolute
		background-color: none
		border: none
		left: -15px
		margin-top: 3px

		a
			display: block
			height: 13px
			width: 12px
			background-image: url(../images/arrow-left.png)
			background-repeat: no-repeat		

	.pager-item, .pager-current
		float: none
		border: 0
		-moz-border-radius: 0
		-webkit-border-radius: 0
		border-radius: 0
		background: 0
		padding: 3px 8px 2px 8px

	.pager-item a, .pager-current a
		background: none
		color: #fff
		border: 0
		text-decoration: underline
		padding: 3px 8px 2px 8px